*{
    color: #151e3d;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    position: fixed;
    margin-top: -10px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    background-color: white;
}
#top{
    margin-bottom: 2;
}
.mass{
    background-image: url('../images/bground.jpg');
    width: 102%;
    height: 75%;
    margin-top: 6%;
    margin-bottom: 0.5%;
    margin-left: -1.0%;
    margin-right: -7%;
}
.woman{
    display: flex;
    width: 33%;
    margin-top: -30%;
    margin-left: 57%;
}
.ul{
    list-style-type: none;
    display: flex;
    margin-bottom: -30px;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    gap: 35px;
}
.ul li:hover{
    color: darkblue;
}
.submit{
    color: #151e3d;
    border: none; 
    cursor: pointer;
    display: flex;
    font-family: sans-serif , serif;
    gap: 35px;
    padding: 13px;
    margin-right: 30px;
    margin-bottom: -15px;
    margin-left: 20px;
}
.fly{
    width: 75px;
    margin-top: -5px;
    margin-right: -15px;
    margin-left: 15px;
    cursor: pointer;
}
#contact{
    color: #151e3d;
    text-align: center;
    display: block;
    padding: -15px;
    margin-top: 15px;
    margin-left: 270px;
    margin-right: 5px;
    font-family: serif;
    font-size: medium;
    font-weight: 800;
}
.tag{
    cursor: pointer;
    display: flex;
    gap: 35px;
    margin-left: -25px;
    margin-right: 20px;
    padding: 20px;
}
.tag :hover{
    background-color: aquamarine;
    width: 50px;
    border-radius: 25px;
}
.globe{
    cursor: pointer;
    display: flex;
    margin-top: 20px;
}
button{
    cursor: pointer;
    background-color: green;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: aliceblue;
    font-weight: 800;
    text-align: center;
    height: 55px;
    width: 145px;
    border-radius: 5px;
}
.button button:hover{
    background-color: black;
}
.text1{
    color: #151e3d;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 60px;
    margin-top: -500px;
    margin-left: 10%;
}
.text2{
    font-size: 23px;
    font-family: sans-serif;
    margin-right: -20px;
    margin-top: -30px;
    margin-left: 10%;
}
.btn1{
    cursor: pointer;
    color: white;
    background-color: dodgerblue;
    border-color: dodgerblue;
    width: 200px;
    margin-top: 20px;
    margin-left: 10%;
}
.btn1:hover{
    background-color: #151e3d;
}
.btn2{
    cursor: pointer;
    background-color: white;
    border-color: dodgerblue;
    color:  dodgerblue;
    width: 200px;
    margin-top: 20px;
    margin-left: 2%;
    border: 3px solid;
}
.btn2:hover{
    background-color: rgba(240, 240, 240, 0.74);
    border-color: black;
    color: black;
}
.header{
    color: #151e3d;
    font-size: 50px;
    text-align: center;
    margin-top: 8%;
    font-family: sans-serif;
}
.all{
    display: flex;
    gap: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 70px;
}
.texts{
    width: 90%;
    font-family: sans-serif;
    padding: 5%;
}
.divs{
    box-shadow: 2px 2px 8px 3px lightgrey ;
    border-radius: 10px;
    padding-bottom: 3%;
}
.shift{
    margin-top: 18%;
    font-family: sans-serif;
}
.x{
    font-family: sans-serif;
    margin-top: 11%;
}
.new{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
.header2{
    color: #151e3d;
    font-size: 50px;
    text-align: center;
    margin-top: 8%;
    font-family: sans-serif;
}
.row{
    display: flex;
    gap: 80px;
    margin-left: 10%;
}
.row img{
    width: 300px;
}
.bold{
    font-weight: 700;
}
.second{
    margin-top: 5%;
    text-align: center;
    font-size: larger;
}
.space{
    text-align: center;
    font-size: large;
}
.btn3{
    cursor: pointer;
    background-color: #fff;
    color: dodgerblue;
    border-color: dodgerblue;
    margin-left: 43%;
    width: 230px;
}
.btn3:hover{
    background-color: rgba(240, 240, 240, 0.74);
    border-color: black;
    color:black;
}
.all2{
    cursor: pointer;
    width: 50px;
    display: flex;
    gap: 60px;
    margin-top: 55px;
    margin-left: 33%;
    height: 10x;
}
.sale{
    width: 55px;
    border: 20px solid #fff;
    border-radius: 300px;
    box-shadow: 2px 4px 4px 0px darkgrey ;
}
.pic{
    background-image: url('../images/innovation.jpg');
    width: 100%;
    margin-top: 3%;
}
.big{
    text-align: center;
    font-size: larger;
}
.small{
    font-size: larger;
    text-align: center;
}
.btn4{
    width: 250px;
    background-color: #fff;
    color: dodgerblue;
    border: 3px solid;
    border-color: dodgerblue;
    margin-top: 40px;
    margin-left: 43%;
}
.btn4:hover{
    background-color: rgba(240, 240, 240, 0.74);
    border-color: black;
    color:black;
}
.cards{
    cursor: pointer;
    display: flex;
    margin-top: 50px;
    gap: 20px;
    background-color: #fff;
    margin-left: 16%;
}
.card1{
    width: 130px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
}
.card2{
    width: 130px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
}
.card3{
    width: 130px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
}
.card4{
    width: 130px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
}
.card5{
    width: 130px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
}
.box{
    box-shadow: 3px 3px 4px 4px lightgrey;
    border-radius: 10px;
}
.head{
    text-align: center;
    font-size: larger;
    margin-top: 80px;
}
.smaller{
    text-align: center;
    font-size: larger;
}
.einstein{
    display: flex;
    gap: 60px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: sans-serif;
}
.again{
    box-shadow: 2px 2px 8px 3px lightgrey ;
    border-radius: 22px;
    margin-left: 20px;
}
.pictures{
    width: 120px;
    margin-left: 135px;
    margin-top: 30px;
}
.sap{
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}
.pin{
    cursor: pointer;
}
.module{
    font-size: small;
    background-color: skyblue;
    border: 10px skyblue solid;
    margin-left: 5px;
    margin-right: 260px;
    border-radius: 100px;
}
.learn{
    margin-top: 50px;
    padding-bottom: 40px;
    cursor: pointer;
}
.v{
    background-color: #fff;
    color: dodgerblue;
    border-color: dodgerblue;
    border: 3px solid;
    width: 200px;
    margin-left: 45%;
    margin-top: 40px;
}
.v:hover{
    background-color: rgba(240, 240, 240, 0.74);
    border-color: black;
    color:black;
}
.closer{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 70px;
}
.move{
    margin-left: 10%;
    font-size: x-large;
    margin-top: 200px;
}
.mount{
    font-size: large;
    font-weight: normal;
}
.pup1{
    background-color: #fff;
    color: dodgerblue;
    border-color: dodgerblue;
    border: 3px solid;
    width: 200px;
    margin-top: 50px;
    margin-left: -0.1%;
}
.sprint{
    margin-left: 45%;
    padding-bottom: 8%;
}
.sprinter{
    width: 700px;
    margin-top: -350px;
}
.trees{
    background: linear-gradient( #FDFEFF, #DDEFFE);
}
.bground{
    background-image: url('../images/trees.webp');
    width: 100%;
    margin-top: 400px;
}
.ben{
    display: flex;
    margin-top: -50%;
    gap: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-left:10%;
    width: 80%;
}
.wall{
    box-shadow: 2px 2px 8px 3px #BDCCD9 ;
    border-radius: 20px;
    background-color: #fff;
}
.newt{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.gat{
    margin-left: -35px;
    cursor: pointer;
}
.mode{
    font-size: small;
    background-color: #add8e6;
    border: 4px #add8e6 solid;
    margin-left: 35px;
    margin-right: 240px;
    border-radius: 100px;
    text-align: center;
}
.sub{
    cursor: pointer;
    padding-bottom: 70px;
}
.text{
    padding: 5%;
    width: 80%;
    margin-left: 20px;
}
.push{
    padding-bottom: 10%;
}
.lime{
    margin-top: 10%;
    margin-bottom: 15%;
}
.lime2{
    margin-top: 15%;
    margin-bottom: 20%;
}
.over{
    text-align: center;
    padding-top: 15%;
    font-size: larger;
}
.fine{
    display: flex;
    margin-top: 80px;
    gap: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-left:10%;
    width: 80%;
}
.finer{
    box-shadow: 2px 2px 8px 3px #BDCCD9 ;
    border-radius: 20px;
}
.senior{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.soft{
    margin-left: 35px;
    padding-bottom: 40px;
}
.gate{
    font-size: small;
    background-color: #EAF5FE;
    border: 3px #EAF5FE solid;
    margin-left: 5px;
    width: 30%;
    margin-top: 40px;
    margin-right: 300px;
    border-radius: 100px;
    text-align: center;
}
.water{
    padding-bottom: 30px;
}
.slide{
    text-align: center;
    font-size: larger;
    margin-top: 100px;
}
.pout{
    font-size: small;
    background-color: #EAF5FE;
    border: 8px #EAF5FE solid;
    margin-left: 0px;
    width: 22%;
    margin-top: 40px;
    margin-right: 80px;
    border-radius:  150px;
    text-align: center;
}
.pout1{
    font-size: small;
    background-color: #EAF5FE;
    border: 8px #EAF5FE solid;
    margin-left: 0px;
    width: 15%;
    margin-top: 40px;
    margin-right: 80px;
    border-radius:  150px;
    text-align: center;
}
.show{
    box-shadow: 2px 2px 8px 3px #BDCCD9 ;
    border-radius: 20px;
}
.mind{
    margin-left: 15%;
    width: 100%;
    gap: 70px;
    display: flex;
}